<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<style type="text/css"	>
body {
		background-color: #C7E4D9;
		color: black;
		font-family: 'Alegreya Sans SC', sans-serif;
	}
	</style>
	<link rel="stylesheet" type="text/css" href="public/css/style.css">
</head>
<body>
	<h1>New Tennis Star Page</h1>
	<form action="/tennisStars" method="POST">
		Name: <input type="text" name="name"/><br/>
		Home: <input type="text" name="home"/><br/>
		<input type="submit" value="Add Player"/>
	</form>
</body>
</html>