<!DOCTYPE html>
<html>
<head>
	<title></title>
<style type="text/css"	>
body {
		background-color: #C7E4D9;
		color: black;
		font-family: 'Alegreya Sans SC', sans-serif;
	}
	</style>
<link type="text/css" ref="stylesheet" href="css/style.css">
<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC" rel="stylesheet">
</head>
<body>
	<h1>Details</h1>
	<a href="/tennisStars">HOME COURT</a>
	<h3>Player Name: <%= tennisStarsList.name %></h3><br/>
	<h2>Home: <%= tennisStarsList.home %></h2>
	
</body>
</html>